<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="default_ip" value="192.168.1.167"/>
    <add key="default_endip" value="192.168.1.167"/>
    <add key="minThread" value="254"/>
    <add key="pingTimeout" value="10000"/>
    <add key="communityName" value="public"/>
  </appSettings>
</configuration>